.wrapper{
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    justify-content: center;
    align-items: center;
}

#preview{
    width:50rem;
    height:25rem;
    padding:1rem;
    background-color: whitesmoke;
    margin-top:2rem;
    border-radius:.1rem;
    overflow-y : scroll;
}

img{
    width:50%;
    padding: 1rem 0;
}